{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel = "stylesheet" href= "{% static 'styling/cartPage.css' %}"/>
{% if cart_item_quantity == 0 %}
<div class = "cart__item__empty__div">You don't have any item in the cart !</div>
{% else %}
<div class = "proceed__to__purchase__div__block">

    
</div>
<div class = "product__cart_items" >
{% for item in cart_items %}
    <!-- Individual Product Div ( looped )-->
    <div class = "cart__product" id = "id_cart_product_{{item.cart_item_id}}_{{item.proudct_id}}">

        <!-- Product Title -->
        <div class = "cart__item__attributes" id ="id_cart_title">{{item.title}}</div>

        <!-- Product Image Div-->
        <div class = "cart__item__attributes" id ="id_cart_image_div">
            <!-- Product Image -->
            <img height = "100px" width = "100px" id = "id_cart_image" src = "{{item.image.url}}"/>
        </div>
        
        <!-- Product quantity change ( increase , decrease ) and representation -->
        <div class = "cart__item__quantity__presentataion__and__variation">

            <!-- Product quantity increase button -->
            <button id = "id_cart_item_quantity_increase_button" class = "cart__item__quantity__change__button" onclick = "increaseQuantityOfProudct('id_cart_quantity_{{item.cart_item_id}}' , {{item.cart_item_id}}, 'id_cart_item_total_price_{{item.cart_item_id}}',{{item.price}})">&#8593;</button>
            <!-- Product quantity -->
            <input class = "cart__item__attributes cart__quantity__value" id ="id_cart_quantity_{{item.cart_item_id}}" value = "{{item.quantity}}" type = "number" min = 0 onchange = "changeQuantityOfProduct('id_cart_quantity_{{item.cart_item_id}}' , {{item.cart_item_id}}, 'id_cart_item_total_price_{{item.cart_item_id}}' , {{item.price}})"  />
            <!-- Product quantity decrease button -->
            <button id = "id_cart_item_quantity_decrease_button" class = "cart__item__quantity__change__button" onclick = "decreaseQuantityOfProduct('id_cart_quantity_{{item.cart_item_id}}' , {{item.cart_item_id}} ,'id_cart_item_total_price_{{item.cart_item_id}}' , {{item.price}})">&#8595;</button>

        </div>
        
        <div class = "div__divide__hr divide__hr"></div>
        
        <!-- Product bought price divs -->
        <div class = "cart__item__price__block product__price__div__block" id  = "id_cart_item_price_block">
            <div class = "cart__item__attributes cart__item__total__price" id ="id_cart_item_total_price_{{item.cart_item_id}}">{{item.total_price}}</div>
            <div class = "cart__item__attributes cart__item__individual__price" id ="id_cart_item_price_{{item.cart_item_id}}">Price : {{item.price}}</div>
        </div>

        <div class = "div__divide__hr divide__hr"></div>
        
        <!-- Product bought description -->
        <div class = "cart__item__attributes" id ="id_cart_description_{{item.cart_item_id}}">{{item.description}}</div>
    </div>
{% endfor %}
</div>
<script>

    function updateFinalPriceOfProduct(cart_product_input_id , total_price_div_id , item_price ){
        console.log(total_price_div_id) ; 
        var div = document.getElementById(total_price_div_id) ; 
        cart_product_input_value = document.getElementById(cart_product_input_id).value ; 
        console.log(cart_product_input_value) ; 
        div.innerHTML = parseInt(parseInt(cart_product_input_value) * parseInt(item_price)) ; 
    } ;

    function changeQuantityOfProduct(cart_product_input_id , cart_product_id, total_price_div_id , item_price){
        var cart_product_id = parseInt(cart_product_id) ; 
        var inputField = document.getElementById(cart_product_input_id) ;
        if (inputField.value){
            update_quantity =  parseInt(inputField.value) ;
            inputField.value =  update_quantity ;
            payload = { 
                "cart_product_id" : cart_product_id ,
                "csrfmiddlewaretoken" : "{{csrf_token}}" ,
                "update_quantity": update_quantity , 
                "user_username" : "{{request.user.username}}" , 
                "cart_id" : "{{request.user.cart.id}}" ,
            }
            $.ajax({
                url : "{% url 'update-quantity' %}" ,
                type : "POST" ,
                data : payload , 
                dataType : "json" , 
                timeout : 1000 , 

                success : function(data) {
                    if (data.product_update == "The product quantity was successfully updated !"){
                        updateFinalPriceOfProduct( cart_product_input_id , total_price_div_id , item_price) ;
                    }
                } ,
                error : function(data) {
                    console.log("Something unexpected happened !") ; 
                }
            })
        }
        else {
            console.log("There is no value in the input field !") ;
        }
    };

    function increaseQuantityOfProudct(cart_product_input_id , cart_product_id , total_price_div_id , item_price){
        var inputField = document.getElementById(cart_product_input_id) ;
        inputField.value = parseInt(inputField.value) + parseInt(1) ;
        changeQuantityOfProduct(cart_product_input_id , cart_product_id ,total_price_div_id , item_price) ; 
        
    };
    
    function decreaseQuantityOfProduct(cart_product_input_id , cart_product_id ,total_price_div_id ,item_price){
        inputField = document.getElementById(cart_product_input_id) ;
        if(inputField.value >=1){
            inputField.value -=1 ;
            changeQuantityOfProduct(cart_product_input_id , cart_product_id ,total_price_div_id , item_price) ; 
        }
        else{
            inputField.value = 0 ; 
        }
    };
</script>
{% endif %}
{% endblock content %}