.product__cart_items{
    display: flex;
    flex-direction: row ;
    justify-content: left; 
    flex-wrap : row ; 
}

.cart__product{
    background-color: white ;
    border: 1px solid gray ;
    margin:5px;
    display: flex; 
    flex-direction: column ; 
    flex-wrap : row ;
    justify-content: center ; 
    align-items: center ; 
    max-width : 300px ;
    min-width: 250px;
    min-height:300px;
    max-height :450px; 
}

.div__divide__hr{
    border: 1px solid red ;
    width:100% ;
}

#id_cart_title{
    padding-top: 3px ;
    padding-bottom: 3px ;
    font-weight: 600 ; 
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;  
}

#id_cart_image_div {
    display: flex ; 
    flex-direction:row ;
    justify-content: center ;
    align-items: center ; 
    height: 100% ; 
    width : 100% ;
}


#id_cart_image{
    max-height:300px ; 
    min-height:250px ;
    max-width :300px ;
    min-width :250px ;
    border : 2px solid rgb(20, 197, 159) ;
    box-shadow :rgb(223, 241, 216) ; 
}

.cart__item__quantity__presentataion__and__variation{
    margin-top :5px; 
    margin-bottom: 5px ; 
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center ;
}


.cart__quantity__value{
    width:60px;
    margin-left:5px; 
    margin-right:5px ;
}

.cart__item__quantity__change__button{
    border: 1px solid gray ;
    border-radius: 10% ;
}

#id_cart_item_price_block{
    height:100% ;
    width: 100% ;
}

.cart__item__price__block{
    display: flex ;
    flex-direction: row ;
    justify-content:space-around; 
    align-items: center;
}

.cart__item__price{
    width: 100% ;
    height: 100% ;
    padding: 3px ;
}

.cart__item__total__price{
    border-right: 1px solid blue ;
}

.cart__item__individual__price{
    border-left: 3px solid blue ;
}

#id_cart_total_price{}

#id_cart_price{}

#id_cart_description{}

